.login_bg{
    background-image: url(https://media.istockphoto.com/id/1321196662/photo/group-young-friends-using-mobile-smartphone-outdoor-millennial-generation-having-fun-with-new.jpg?b=1&s=170667a&w=0&k=20&c=hr2Xj8QkXK3vNwHcOdJ-PxXjVT6UtwCuZpNdFEKb02E=);
    height: 92vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}